html, body, section {
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    background: #353535;
    padding: 0;
    margin: 0;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu li a{
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover{
    color: aqua;
}

.wrapper{
    max-width: 1024px;
    padding: 10px;
    margin: 0px auto; 
}

.menuToggle{  
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media( max-width: 640px){
    .menuToggle{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        background: #353535;
        width: 100%;
        margin-left: -10px;
        padding-left: 10px;
    }
    .menu li{
        display: block;
    }
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hamburger {
    width: 40px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}
.image{
    background-image: url('../img/unnamed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100%;
}
.block p{
    color: #fff;
    text-align: center;
    padding-top: 75px;
    text-shadow: 1px 1px 2px black, 0 0 1em black; 
    color: white; 
    font-size: 2em; 

}

.chevron img:hover{
    transform: translateY(25px);
}

.chevron img{
    transition: all 0.5s ease-in-out;
}

.some{
    display: none;
}

.next{
    margin-top: 200px;
}

th, td{
    padding: 10px;
}

th{
    background: #606060;
    color: #fff;
}

td{
    background: #b5b5b5;
}

#navbar ul{
    display: none;
    background-color: #353535;
    position: absolute;
    top: 100%;
}
#navbar li:hover ul { display: block; }

#navbar li {
    float: left;
    position: relative;
}
    
.rr h1{
    margin-top: 50px;
}

.rr hr{
    border: none;
    height: 10px;
    max-width: 280px;
    margin-top: 8px;
    background: #353535;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.image-wrapper:hover{
    transform: scale(1.10);
}
.image-wrapper{
    max-width: 100%;
    width: 350px;
    height: 290px;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 1.5s ease-in-out;
}

.image-wrapper img{
    object-fit: cover;
}

.chevron:hover{
    animation-play-state: paused; 
}

.chevron{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 110px;
    color: white;
    animation: chevron_animate infinite 2s ease-in-out;

}


@keyframes chevron_animate{
    0%, 100%{
         transform: translateY(0px);
    }
    50%{
         transform: translateY(10px);
    }

}

.logo{
    width: 50px;
    height: 50px;
    border: 0.5 solid black;
    border-radius: 10px;
}
h2{
    font-family: Lora;
    font-size: 48px;
    margin: 0 0 60px;
}

p{
    font-size: 20px;
    line-height: 1.3;
}